@media only screen and (max-width: 474px) {
    img.col-sm-6.float-sm-end.mb-3.ms-sm-3.me-3.resizeImg  {
      width: 300px!important;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* .bg-img {
    background-image: url('/images/3-trucks.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.rect-box {
    width: 500px;
    height: 200px;
    background-color: white;
    margin-top: 50px;
}

.list-group .list-group-item {
  border: none!important;
  padding-left: 0px!important;
  line-height: 12px!important;
}

.contact-info {
  line-height: 5px;
  font-weight: 600!important;
}

a.footer-links {
  text-decoration: none!important;
  color: white!important;
}